appnope==0.1.0
Babel==2.7.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
boto==2.49.0
boto3==1.9.172
botocore==1.12.172
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.2
django-allauth==0.39.1
django-autofixture==0.12.1
django-bootstrap3==11.0.0
django-countries==5.3.3
django-extensions==2.1.9
django-localflavor==2.2
django-phonenumber-field==3.0.1
django-storages==1.7.1
docutils==0.14
httplib2==0.13.0
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jmespath==0.9.4
oauth2==1.9.0.post1
oauthlib==3.0.1
parso==0.4.0
pexpect==4.7.0
phonenumberslite==8.10.13
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-http-client==3.1.0
python-openid==2.2.5
python-stdnum==1.11
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
s3transfer==0.2.1
sendgrid==3.6.5
sendgrid-django==4.2.0
shortuuid==0.5.0
simplegeneric==0.8.1
six==1.12.0
smtpapi==0.3.1
sqlparse==0.3.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
